
.container {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto 600px auto;
  grid-gap:3px;
}
.header {
  background: black;
}
.header li {
  margin-left: 5%;
  display: inline;

}
a:link {
  text-decoration: none;
}


a:visited {
color: white;

}

.Body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  grid-gap: 10px;
}
.Body img {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  padding:50px;

}
.body p {
  font-family: sans-serif;
  font-size: 75px;
}


.foot {
  margin-top: 50px;
  grid-column: 1/-1;
  background-color: dimgray;

}
